<form action="AutentificareAdmin" method="POST">

    <input type="text" name="IdAdmin" id="inputIdAdmin">
    <input type="password" name="ParolaAdmin" id="inputParolaAdmin">
    <button type="submit" id="buttonSubmitAutentificare">Autentificare</button>
    
</form>